<!DOCTYOE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - NotasAlunos</title>
</head>
<body>
   <header>
       <h1>Cadastro Escolar</h1>
       <nav>
           <a hreaf="/Home/Index">Index</a>
           <a hreaf="/Home/Cadastro">Cadastro</a>
           <a hreaf="/Home/Listagem">Listagem</a>
       </nav>
   </header>
   <div>
       <main role="main">
           @RenderBody()
       </main>
   </div>
   <footer>
       <div>
           © 2019 - NotasAlunos
       </div>
   </footer>
</body>
</html>
